<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Browserstack regression Suite" thread-count="3" parallel="methods">
	
  <test name="browserstack test1">
	  <parameter name="os" value="Windows"/>
	  <parameter name="os_version" value="10"/>
	  <parameter name="browser" value="firefox"/>
	  <parameter name="browser_version" value="82.0"/>
    <classes>
      <class name="Browserstack.Integration.TestCase"/>
      <class name="Browserstack.Integration.BaseTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="browserstack test2">
	  <parameter name="os" value="OS X"/>
	  <parameter name="os_version" value="Catalina"/>
	  <parameter name="browser" value="firefox"/>
	  <parameter name="browser_version" value="85.0"/>
    <classes>
      <class name="Browserstack.Integration.TestCase"/>
      <class name="Browserstack.Integration.BaseTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
